<div id="mk_keyboard" class="hebrew">
    <div class="mk_keyboard_toolbar">
        <button onclick="MK_KEYBOARD.closeOpenKeyboard();" class="right btn">Close</button>
        <div class="clear"></div>
    </div>
    <div class="mk_keyboard_input_section">
        <table>
            <tr align="center"> 
                <td>k'</td>
                <td>k</td>
                <td>y</td>
                <td>T</td>
                <td>H</td>
                <td>z</td>
                <td>v</td>
                <td>h</td>
                <td>d</td>
                <td>g</td>
                <td>b'</td>
                <td>b</td>
                <td>[a]</td>
            </tr>
            <tr align="center"> 
                <td><input type="button" class="bt" title="kaf" onclick="MK_KEYBOARD.drawSelectedChar('&#64315;')" value="&#64315;"></td>
                <td><input type="button" class="bt" title="khaf" onclick="MK_KEYBOARD.drawSelectedChar('&#1499;')" value="&#1499;"></td>
                <td><input type="button" class="bt" title="yôd" onclick="MK_KEYBOARD.drawSelectedChar('&#1497;')" value="&#1497;"></td>
                <td><input type="button" class="bt" title="têt" onclick="MK_KEYBOARD.drawSelectedChar('&#1496;')" value="&#1496;"></td>
                <td><input type="button" class="bt" title="hêt" onclick="MK_KEYBOARD.drawSelectedChar('&#1495;')" value="&#1495;"></td>
                <td><input type="button" class="bt" title="zaîn" onclick="MK_KEYBOARD.drawSelectedChar('&#1494;')" value="&#1494;"></td>
                <td><input type="button" class="bt" title="wâw" onclick="MK_KEYBOARD.drawSelectedChar('&#1493;')" value="&#1493;"></td>
                <td><input type="button" class="bt" title="he" onclick="MK_KEYBOARD.drawSelectedChar('&#1492;')" value="&#1492;"></td>
                <td><input type="button" class="bt" title="dàlet" onclick="MK_KEYBOARD.drawSelectedChar('&#1491;')" value="&#1491;"></td>
                <td><input type="button" class="bt" title="gîmel" onclick="MK_KEYBOARD.drawSelectedChar('&#1490;')" value="&#1490;"></td>
                <td><input type="button" class="bt" title="bêt" onclick="MK_KEYBOARD.drawSelectedChar('&#64305;')" value="&#64305;"></td>
                <td><input type="button" class="bt" title="vet" onclick="MK_KEYBOARD.drawSelectedChar('&#1489;')" value="&#1489;"></td>
                <td><input type="button" class="bt" title="âlef" onclick="MK_KEYBOARD.drawSelectedChar('&#1488;')" value="&#1488;"></td>
            </tr>
            <tr align="center"> 
                <td>&nbsp;</td>
                <td><input type="button" class="bt" onclick="MK_KEYBOARD.drawSelectedChar('&#1498;')" value="&#1498;"></td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
        </table>
    </div>
    <div class="mk_keyboard_input_section">
        <table>
            <tbody><tr align="center"> 
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>[c]</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>[S]</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                <tr align="center"> 
                    <td>t</td>
                    <td>s</td>
                    <td>sh</td>
                    <td>sh/s</td>
                    <td>r</td>
                    <td>q</td>
                    <td>ts</td>
                    <td>p</td>
                    <td>f</td>
                    <td>[-]</td>
                    <td>s</td>
                    <td>n</td>
                    <td>m</td>
                    <td>l</td>
                </tr>
                <tr align="center"> 
                    <td><input type="button" class="bt" title="tâw" onclick="MK_KEYBOARD.drawSelectedChar('ת')" value="ת"></td>
                    <td><input type="button" class="bt" title="sin" onclick="MK_KEYBOARD.drawSelectedChar('שׂ')" value="שׂ"></td>
                    <td><input type="button" class="bt" title="shin" onclick="MK_KEYBOARD.drawSelectedChar('שׁ')" value="שׁ"></td>
                    <td><input type="button" class="bt" title="sîn" onclick="MK_KEYBOARD.drawSelectedChar('ש')" value="ש"></td>
                    <td><input type="button" class="bt" title="rêsh" onclick="MK_KEYBOARD.drawSelectedChar('ר')" value="ר"></td>
                    <td><input type="button" class="bt" title="qôf" onclick="MK_KEYBOARD.drawSelectedChar('ק')" value="ק"></td>
                    <td><input type="button" class="bt" title="sâdê" onclick="MK_KEYBOARD.drawSelectedChar('צ')" value="צ"></td>
                    <td><input type="button" class="bt" title="pê" onclick="MK_KEYBOARD.drawSelectedChar('פּ')" value="פּ"></td>
                    <td><input type="button" class="bt" title="fe" onclick="MK_KEYBOARD.drawSelectedChar('פ')" value="פ"></td>
                    <td><input type="button" class="bt" title="`ayn" onclick="MK_KEYBOARD.drawSelectedChar('ע')" value="ע"></td>
                    <td><input type="button" class="bt" title="sâmek" onclick="MK_KEYBOARD.drawSelectedChar('ס')" value="ס"></td>
                    <td><input type="button" class="bt" title="nûn" onclick="MK_KEYBOARD.drawSelectedChar('נ')" value="נ"></td>
                    <td><input type="button" class="bt" title="mêm" onclick="MK_KEYBOARD.drawSelectedChar('מ')" value="מ"></td>
                    <td><input type="button" class="bt" title="lamed" onclick="MK_KEYBOARD.drawSelectedChar('ל')" value="ל"></td>
                </tr>
                <tr align="center"> 
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td><input type="button" class="bt" onclick="MK_KEYBOARD.drawSelectedChar('ץ')" value="ץ"></td>
                    <td>&nbsp;</td>
                    <td><input type="button" class="bt" onclick="MK_KEYBOARD.drawSelectedChar('ף')" value="ף"></td>
                    <td>&nbsp;</td>
                    <td>&nbsp; </td>
                    <td><input type="button" class="bt" onclick="MK_KEYBOARD.drawSelectedChar('ן')" value="ן"></td>
                    <td><input type="button" class="bt" onclick="MK_KEYBOARD.drawSelectedChar('ם')" value="ם"></td>
                    <td>&nbsp; </td>
                </tr>
            </tbody></table>
    </div>
    <div class="mk_keyboard_input_section">
        <table>
            <tr> 
                <td><input type="button" class="bt" onclick="MK_KEYBOARD.drawSelectedChar('&#64309;')" value="&#64309;"></td>
                <td><input type="button" class="bt" onclick="MK_KEYBOARD.drawSelectedChar('&#64331;')" value="&#64331;"></td>
                <td><input type="button" class="bt" title="dagesh" onclick="MK_KEYBOARD.drawSelectedChar('&#1468;')" value="&#1468;"></td>
                <td><input type="button" class="bt" title="qubuts" onclick="MK_KEYBOARD.drawSelectedChar('&#1467;')" value="&#1467;"></td>
                <!-- td><input type="button" value="&#1466;" onclick="MK_KEYBOARD.drawSelectedChar('&#1466;')" class="bt" title="holam haser"></td -->
                <td><input type="button" class="bt" title="holam" onclick="MK_KEYBOARD.drawSelectedChar('&#1465;')" value="&#1465;"></td>
                <td><input type="button" class="bt" title="qamats" onclick="MK_KEYBOARD.drawSelectedChar('&#1464;')" value="&#1464;"></td>
                <td><input type="button" class="bt" title="patah" onclick="MK_KEYBOARD.drawSelectedChar('&#1463;')" value="&#1463;"></td>
                <td><input type="button" class="bt" title="segol" onclick="MK_KEYBOARD.drawSelectedChar('&#1462;')" value="&#1462;"></td>
                <td><input type="button" class="bt" title="tsere" onclick="MK_KEYBOARD.drawSelectedChar('&#1461;')" value="&#1461;"></td>
                <td><input type="button" class="bt" title="hiriq" onclick="MK_KEYBOARD.drawSelectedChar('&#1460;')" value="&#1460;"></td>
                <td><input type="button" class="bt" title="hataf qamats" onclick="MK_KEYBOARD.drawSelectedChar('&#1459;')" value="&#1459;"></td>
                <td><input type="button" class="bt" title="hataf patah" onclick="MK_KEYBOARD.drawSelectedChar('&#1458;')" value="&#1458;"></td>
                <td><input type="button" class="bt" title="hataf segol" onclick="MK_KEYBOARD.drawSelectedChar('&#1457;')" value="&#1457;"></td>
                <td><input type="button" class="bt" title="sheva" onclick="MK_KEYBOARD.drawSelectedChar('&#1456;')" value="&#1456;"></td>
                <td><input type="button" class="bt" title="meteg &amp; siluq" onclick="MK_KEYBOARD.drawSelectedChar('&#1469;')" value="&#1469;"></td>
                <td><input type="button" class="bt" title="ole" onclick="MK_KEYBOARD.drawSelectedChar('&#1451;')" value="&#1451;"></td>
                <td><input type="button" class="bt" title="zaqef qatan" onclick="MK_KEYBOARD.drawSelectedChar('&#1428;')" value="&#1428;"></td>
                <td><input type="button" class="bt" title="atnah" onclick="MK_KEYBOARD.drawSelectedChar('&#1425;')" value="&#1425;"></td>
                <!-- td><input type="button" value="&#1455;" onclick="MK_KEYBOARD.drawSelectedChar('&#1455;')" class="bt"></td -->
            </tr>
        </table>
    </div>
    <div class="mk_keyboard_input_section">
        <table>
            <tr> 
                <td><input type="button" class="bt" title="sof pasuq" onclick="MK_KEYBOARD.drawSelectedChar('&#1475;')" value="&#1475;"></td>
                <td><input type="button" class="bt" title="pasuq" onclick="MK_KEYBOARD.drawSelectedChar('&#1472;')" value="&#1472;"></td>
                <td><input type="button" class="bt" title="maqaf" onclick="MK_KEYBOARD.drawSelectedChar('&#1470;')" value="&#1470;"></td>
                <!-- td><input type="button" value="&#1478;" onclick="MK_KEYBOARD.drawSelectedChar('&#1478;')" class="bt" title="nun hakufha"></td -->
                <td><input type="button" class="bt" title="gershayim" onclick="MK_KEYBOARD.drawSelectedChar('&#1524;')" value="&#1524;"></td>
                <td><input type="button" class="bt" title="geresh" onclick="MK_KEYBOARD.drawSelectedChar('&#1523;')" value="&#1523;"></td>
                <td> &nbsp; &nbsp; </td>
                <td><input type="button" class="bt" title="shekel" onclick="MK_KEYBOARD.drawSelectedChar('&#8362;')" value="&#8362;"></td>
            </tr>
        </table>
    </div>
    <div class="mk_keyboard_footer">
        <span class="mk_keyboard_copyrights">Eagle Hebrew KeyBoard</span>
        <div class="clear"></div>
    </div>
</div>